.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 16px;
}
.box2-1 h1  {
    position: absolute;
    width: 460px;
    height: 105px;
    left: 730px;
    top:1172px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 105px;
    /* identical to box height */
    
    text-align: center;
}
.box2-1 h4 {
    position: absolute;
    width: 506px;
    height: 90px;
    left: 707px;
    top: 1297px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    
    color: #404242;
}
.box2-1 img {
    position: absolute;
width: 1063px;
height: 350px;
left: 166px;
top: 1458px;

background: url(image.png);
border-radius: 10px 0px 0px 10px;
}
.box2-1 p {
    position: absolute;
    width: 328px;
    height: 120px;
    left: 1344px;
    top: 1528px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    border:5px solid #CCF0E6;
    background: #CCF0E6 ;
    color: #486958;
    opacity: 1 ;
} 
 #forimage {
    height: 41.480712890625px;
    width: 27px;
    left: 1222px;
    top: 1683.2596435546875px;
    border-radius: 0px;
    background: #FFFFFF;
border-radius: 65px;
    
}
.box2-1 h3 {
       
position: absolute;
width: 130px;
height: 30px;
left: 1344px;
top: 1689px;
border:5px solid #CCF0E6;
background: #CCF0E6 ;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height */


color: #486958;

}
    

.box2-2 img {
    position: absolute;
    width: 642px;
    height: 650px;
    left: 166px;
    top: 1958px;
    
    background: url(image.png);
}
.box2-2 h3 {
    position: absolute;
    width: 487px;
    height: 180px;
    left: 953.12px;
    top: 1958px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    
    color: #1C2323;
    
}
.box2-2 p {
    position: absolute;
    width: 708px;
    height: 225px;
    left: 950px;
    top: 2188px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    
    color: #486958;
}

